{#
SPDX-FileCopyrightText: 2025 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if headplane_container_labels_traefik_enabled %}
traefik.enable=true

{% if headplane_container_labels_traefik_docker_network %}
traefik.docker.network={{ headplane_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if headplane_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ headplane_identifier }}-slashless-redirect.redirectregex.regex=^({{ headplane_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ headplane_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [headplane_identifier + '-slashless-redirect'] %}
{% endif %}

{% if headplane_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ headplane_identifier }}-strip-prefix.stripprefix.prefixes={{ headplane_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [headplane_identifier + '-strip-prefix'] %}
{% endif %}

traefik.http.routers.{{ headplane_identifier }}.rule={{ headplane_container_labels_traefik_rule }}
{% if headplane_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ headplane_identifier }}.priority={{ headplane_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ headplane_identifier }}.service={{ headplane_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ headplane_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ headplane_identifier }}.entrypoints={{ headplane_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ headplane_identifier }}.tls={{ headplane_container_labels_traefik_tls | to_json }}
{% if headplane_container_labels_traefik_tls %}
traefik.http.routers.{{ headplane_identifier }}.tls.certResolver={{ headplane_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ headplane_identifier }}.loadbalancer.server.port={{ headplane_container_http_port }}
{% endif %}

{% if headplane_container_labels_traefik_path_prefix == '/' and headplane_container_labels_traefik_automatically_redirect_to_admin %}
traefik.http.routers.{{ headplane_identifier }}-rewrite.rule=Host(`{{ headplane_hostname }}`) && Path(`{{ headplane_path_prefix }}`)
traefik.http.routers.{{ headplane_identifier }}-rewrite.service={{ headplane_identifier }}
traefik.http.routers.{{ headplane_identifier }}-rewrite.entrypoints={{ headplane_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ headplane_identifier }}-rewrite.tls={{ headplane_container_labels_traefik_tls | to_json }}
{% if headplane_container_labels_traefik_tls %}
traefik.http.routers.{{ headplane_identifier }}-rewrite.tls.certResolver={{ headplane_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.routers.{{ headplane_identifier }}-rewrite.middlewares={{ headplane_identifier }}-rewrite
traefik.http.middlewares.{{ headplane_identifier }}-rewrite.addprefix.prefix=/admin
{% endif %}

{{ headplane_container_labels_additional_labels }}
